<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>기본페이지</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        function login(){
            window.location.href="/login";
        }

        function join(){
            window.location.href = "/join";
        }

    </script>

</head>
<body>
<h1>홈페이지</h1>


<h2>시큐티리 홈페이지에 오신거를 환영합니다.</h2>


<div sec:authorize="!isAuthenticated()">
    <button onclick="login()">로그인하러가기</button>
    <button onclick="join()">회원가입 하러가기</button>
</div>

<div sec:authorize="isAuthenticated()">
    <h3>로그인성공</h3>
    <div th:if="${GoogleMember != null}">
        <p style="color: #0a53be">구글 로그인</p>
        <div th:text="'사용자이름: '+${GoogleMember.getUsername()}"></div>
        <div th:text="'사용자 아이디: '+ ${GoogleMember.getLoginId()}"></div>
    </div>

    <div th:if="${facebookMember!=null}">
        <p style="color: #0a53be">페이스북 로그인</p>
        <div th:text="'사용자이름: '+${facebookMember.getUsername()}"></div>
        <div th:text="'사용자 아이디: '+ ${facebookMember.getLoginId()}"></div>
    </div>

    <div th:if="${NaverAuth !=null}">
        <p style="color: #0a53be">네이버 로그인</p>
        <div th:text="'사용자이름: '+${NaverAuth.getUsername()}"></div>
        <div th:text="'사용자 아이디: '+ ${NaverAuth.getLoginId()}"></div>
    </div>

    <div th:if="${KakaoOauth !=null and KakaoOauth.loginType=='kakao'}">
        <p style="color: #0a53be">카카오 로그인</p>
        <div th:text="'사용자이름: '+${KakaoOauth.getUsername()}"></div>
        <div th:text="'사용자 아이디: '+ ${KakaoOauth.getLoginId()}"></div>
    </div>


    <div th:if="${member != null}">
        <p> 일반 사용자 로그인</p>
        <div th:text="'사용자 이름: '+ ${member.getUsername()}"></div>
        <div th:text="'사용자 아이디: '+ ${member.getLoginId()}"></div>
    </div>

    <form th:action="@{/logout}" method="post">
        <button type="submit">로그아웃</button>
    </form>
</div>
</body>
</html>