<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Title</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:inline="javascript">
    var csrfToken = /*[[${_csrf.token}]]*/ '';
    var csrfHeader = /*[[${_csrf.headerName}]]*/ '';
    var duplicate = false;

    function join(){
      const username = document.getElementById('username_input').value;
      const loginId = document.getElementById('loginId_input').value;
      const password = document.getElementById('password_input').value;
      const email = document.getElementById('email_input').value;
      const memberInfo =[];

      memberInfo.push(username);
      memberInfo.push(loginId);

      memberInfo.push(password);
      memberInfo.push(email);

        // if (!username || !loginId || !password || !email) {
        //     alert("모든 필드를 입력해주세요.");
        //     return;
        // }
      var MemberInfo={
        "memberInfo": memberInfo
      };

      if(duplicate) {
          $.ajax({
              url: "/join",
              type: "post",
              contentType: "application/json",
              data: JSON.stringify(MemberInfo),
              beforeSend: function (xhr) {
                  xhr.setRequestHeader(csrfHeader, csrfToken);
              },
              success: function (response) {
                  alert("회원가입성공");
                  // window.location.href= "/";
              },
              error: function (xhr, status, errors) {
                  if (xhr.status === 500) {
                      alert("회원가입 도중 오류발생");
                  }
                  if (xhr.status === 400) {
                      alert("이메일 형식이 올바르지 않습니다.");
                  }
              }
          });
      }else if (!duplicate){
        alert("중복검사를 해주세요");
      }
    }

    function duplicatedId(){
        const loginId = document.getElementById('loginId_input').value;

        var duplicateId={
            "loginId": loginId
        };

        $.ajax({
            url: "/duplicatedId",
            type: "post",
            contentType: "application/json",
            data: JSON.stringify(duplicateId),
            beforeSend: function (xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function (response) {
                $('#loginIdError').html("<span> 아이디 사용 가능</span>").css({
                    "color": "#0a53be",
                    "font-weight": "bold",
                    "font-size": "13px"
                });
                $('#duplicatedIdBtn').prop('disabled', true);
                duplicate=true;
            },
            error: function (xhr, status, errors) {
                if (xhr.status=== 500) {
                    alert("오류발생");
                }
                if (xhr.status === 400) {
                    alert("아이디를 입력해주세요");
                }
                if (xhr.status===409){
                    $('#loginIdError').html("<span> 아이디 사용 불가능</span>").css({
                        "color": "#dc3545",
                        "font-weight": "bold",
                        "font-size": "13px"
                    });
                }

            }
        });
    }

    function duplicatePwd(){
        const password = document.getElementById('password_input').value;
        const re_password = document.getElementById('re_password_input').value;

        console.log("password:",password);
        console.log("re_password:",re_password);
        var passwordInfo = {
            "password":password,
            "re_password":re_password
        }

        $.ajax({
            url: "/duplicatePwd",
            type: "post",
            contentType : "application/json",
            data : JSON.stringify(passwordInfo),
            beforeSend: function (xhr){
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success : function (response){
                $('#passwordError').html("<span> 비밀번호 일치</span>").css({
                    "color": "#0a53be",
                    "font-weight": "bold",
                    "font-size": "13px"
                });
            },
            error: function (xhr, status, errors) {
                if (xhr.status=== 500) {
                    alert("오류발생");
                }

            }

        });

    }

  </script>

</head>
<body>
  <div>
      <label th:for="username">Username:</label>
      <input  id="username_input"  type="text" th:field="${member.username}">
      <div th:if="${#fields.hasErrors('member.username')}">
          <span th:errors="*{member.username}"></span>
      </div>
      <br><br>

      <label th:for="loginId">Login ID:</label>
      <input type="text" th:field="${member.loginId}"  id="loginId_input">
      <button id="duplicatedIdBtn" onclick="duplicatedId()">중복 검사</button>
      <div class="invalid-feedback" id="loginIdError">
          <small th:class="text-danger" th:errors="${member.loginId}"></small>
      </div>
      <br>
      <label th:for="password">Password:</label>
      <input type="password" th:field="${member.password}" id="password_input"><br><br>

      <label th:for="repassword">Password:</label>
      <input type="password" th:field="${member.re_password}" id="re_password_input" oninput="duplicatePwd()">
      <div class="invalid-feedback" id="passwordError">
          <small th:class="text-danger" th:errors="${member.re_password}"></small>
      </div>
      <br><br>


      <label th:for="email">email:</label>
      <input type="text" th:field="${member.email}" id="email_input"><br><br>



      <button onclick="join()">회원가입하기</button>
  </div>
</body>
</html>